## Words

In [3]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [4]:
# your code here
upper_words = [word.upper() for word in words]
upper_words

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [5]:
# your code here
letters_5 = [word for word in words if len(word)>= 5 ]
letters_5

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [6]:
# your code here
start_t = [word for word in words if word[0] == 't']

start_t

['theatre', 'that']

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [7]:
# your code here
squares = [i**2 for i in range(1, 11) ]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [8]:
# your code here
odd_numbers = [i**2 for i in range(1, 11) if i % 2 != 0]
odd_numbers

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [13]:
# your code here
multiples_8 = [i**2 for i in range(8 , 1000, 8) if i**2 <= 1000]
multiples_8

[64, 256, 576]

## People

In [14]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [15]:
# your code here
names = len([person['name'] for person in people])

names

5

**How many people have kids**?

In [16]:
# your code here
kids = len([person['n_kids'] for person in people if person['n_kids'] >0])
kids

4

**How many kids do they have in total?**

In [17]:
# your code here
kids =sum(person['n_kids'] for person in people)
kids

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [18]:
# your code here
updated_people = []
for person in people:
    updated_person = person.copy()  # Create a copy to avoid modifying the original
    updated_person['age'] += 1  # Increment age by 1 for everyone
    if updated_person['name'].endswith('a'):
        updated_person['n_kids'] += 1  # Add an extra kid if name ends with 'a'
    updated_people.append(updated_person)

updated_people

[{'name': 'Juan', 'age': 35, 'n_kids': 2},
 {'name': 'Pepe', 'age': 28, 'n_kids': 0},
 {'name': 'Sonia', 'age': 42, 'n_kids': 2},
 {'name': 'Lucía', 'age': 23, 'n_kids': 3},
 {'name': 'Leo', 'age': 56, 'n_kids': 5}]